---
- hosts: all
  remote_user: root
  vars_files:
    - defaults/main.yml

  roles:
    - diodonfrost.java
    - diodonfrost.packer
    - diodonfrost.vagrant
    - diodonfrost.terraform
    - diodonfrost.terragrunt
    - diodonfrost.ohmyzsh

  tasks:
    - include_tasks: tasks/main.yml
      tags: always
